{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}"/> 

<h2>List of courses</h2>

<div class="navigacija">
    <a class="velicina" href="/insert_course"> New course </a><br><br>
</div>

<form method="POST">
    <table class="pregled">
        <tr>
            <th>Name</th>
            <th>Code</th>
            <th>Action</th>
            <th>View</th>
            <th>Delete</th>
        </tr>
        
            {% for course in predmeti %}
                <tr>
                    <td> {{course.ime}} </td>
                    <td> {{course.kod}} </td>
                    <td> <a href="{% url 'edit_course' course.id %}"> Edit </a> </td>
                    <td> <a href="{% url 'detail_course' course.id %}"> Details </a></td>
                    <td> <a href="{% url 'delete_course' course.id %}"> Delete </a> </td>
                </tr>
            {% endfor %}
    </table>
</form>

{% endblock %}